# Ignore Gradle project-specific cache directory
.gradle
.idea
.nextflow*

# Ignore Gradle build output directory
build
work
out
/gradle.properties
/logs.tmp
*.jar
/plugins/nf-cws/src/resources/nf-cws/getStatsAndResolveSymlinks_*
